@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400&display=swap');

:root {
  --purple-dark: #3f2a9a;
  --purple-medium: #a456d4;
  --purple-light: #8f4ec8;
}
* {
  font-family: 'Vazirmatn', sans-serif;
  direction: rtl;
  overflow: hidden;
}

.btnBackColor {
  background-image: linear-gradient(to left, #3f2a9a, #8f4ec8, #a456d4);
}
.lineColor {
  background-image: linear-gradient(to left, #3f2a9a, #8f4ec8, #a456d4);
  height: 5px;
}
.btnBackColor2 {
  background-image: linear-gradient(150deg, #3f2a9a, #8f4ec8, #a456d4);
}

input:focus{
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

button:focus{
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}